html,
body {
  padding: 0;
  margin: 0;
}

h3 {
  text-align: center;
  margin-top: 30px;
}

p {
  margin: 20px 20px;
}

.container {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  margin-left: 0;
  width: 100%;
}

.title {
  background-color: black;
  color: white;
  margin-top: 5px;
  text-align: center;
}

.c-services {
  margin: 20px 0 0 0;
  list-style-type: none;
}

.item {
  background-color: rgb(228, 225, 225);
  margin-right: 15px;
  margin-bottom: 15px;
  height: auto;
  width: 50%;
}

.item:hover {
  box-shadow: 0px 5px rgb(192, 195, 195);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
}
